name: Test

on:
  push:
    branches: [main, develop, ci]
  pull_request:
    branches: [main, develop]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: macos-15
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Show Xcode and Swift version
        run: |
          xcode-select --print-path
          swift --version

      - name: Run tests with coverage
        run: swift test --enable-code-coverage

      - name: Generate code coverage
        run: |
          xcrun llvm-cov export \
            .build/debug/BibleKitPackageTests.xctest/Contents/MacOS/BibleKitPackageTests \
            --format=lcov \
            --instr-profile .build/debug/codecov/default.profdata \
            > coverage.lcov

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage.lcov

  build-ios:
    runs-on: macos-15
    needs: build
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: "adopt"
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Build iOS app
        run: xcodebuild -project iosApp/iosApp.xcodeproj -scheme iosApp -configuration Release build CODE_SIGNING_ALLOWED=NO
